
.tools-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tools-box-itens {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tools-item {
    margin-bottom: 16px;
}

.tools-link {
    text-decoration: none;
}