
.button-tool-container {
    background-color: #edf6f9;
    width: auto;
    padding: 5px;
    border: solid;
    border-color: #e5e5e5;
    border-radius: 6px;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
    color: #1d3557;
    font-family: 'Goldman', cursive;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
}

.button-tool-title {
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
}

.button-tool-badge {
    background-color: #e63946;
    min-width: 24px;
    min-height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
}

.button-title {
    padding-left: 10px;
}

.space-30 {
    width: 30px;
}
