<div class="contact-container">
    <div class="contact-view-title">CONTATO</div>

    <div class="contact-description">Entre em contato conosco através do email:</div>
    <div class="contact-box-link">
        <img src="assets/services/gmail-128px.png" width="64" height="64"> 
        <div class="contact-link-text">work-dev-br@gmail.com</div>
    </div>

    <div class="contact-space-h"></div>

    <div class="contact-description">Acesse também nosso canal no Youtube:</div>
    <div class="contact-box-link">
        <img src="assets/services/youtube-64px.png" width="64" height="64"> 
        <div class="contact-link-text">youtube/work-dev-br</div>
    </div>

</div>