
.content-container {
    background-color: goldenrod;
    margin-left: 28vw;
    margin-right: 28vw;
}

@media screen and (max-width: 1800px) {
    .content-container {
        margin-left: 23vw;
        margin-right: 23vw;
    }
}

@media screen and (max-width: 1500px) {
    .content-container {
        margin-left: 18vw;
        margin-right: 18vw;
    }
}
  
@media screen and (max-width: 1200px) {
    .content-container {
        margin-left: 13vw;
        margin-right: 13vw;
    }
}

@media screen and (max-width: 900px) {
    .content-container {
        margin-left: 8vw;
        margin-right: 8vw;
    }
}
  
@media screen and (max-width: 600px) {
    .content-container {
        margin-left: 3vw;
        margin-right: 3vw;
    }
}
