
.article-container {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*-- Font --*/
    font-family: 'Merriweather', serif;
    color: #222222;
}

p {
    margin: 0;
    padding-bottom: 20px;
    line-height: 1.6;
}
