<div class="header-article-container">

    <div class="header-article-type">
        <!-- Exibe o Grupo -->
        <div class="header-article-box-group">
            <app-button-group title="{{group.title}}"></app-button-group>
        </div>
        <!-- Exibe a Ferramenta -->
        <div class="header-article-box-tool">
            <app-button-tool [tool]="tool" [expands]="expands"></app-button-tool>
        </div>
    </div>

    <!-- Conteudo do Cabeçalho do Artigo -->
    <div class="header-article-content">

        <!-- TOP do Button do Artigo -->
        <div class="header-article-top">
    
            <!-- Infos do Artigo - Level e New -->
            <div class="header-article-info">
                <app-show-level [level]="level"></app-show-level>
                <div class="space-10"></div>
                <app-show-new [new]="new"></app-show-new>
            </div>
    
        </div>
    
        <!-- BOTTOM do Button do Artigo -->
        <div class="header-article-bottom">
    
            <!-- Icone, Titulo e Data do Artigo -->
            <div class="header-article-main">
                <div class="header-article-icon">
                    <app-show-icon icon="{{article.tool}}"></app-show-icon>
                </div>
                <div class="header-article-box">
                    <div class="header-article-title">{{ article.title }}</div>
                    <div class="header-article-date">{{ article.date  | date: 'dd/MM/yyyy' }}</div>
                </div>
            </div>
            <div class="header-article-divider"></div>
    
            <!-- Descrição do Artigo -->
            <div class="header-article-footer">
                <div class="header-article-description">
                    {{ article.description }}
                </div>
            </div>
    
        </div>
    
    </div>
    

</div>
