<div class="home-container">

    <!-- Botoes dos GRUPOS -->
    <div class="home-buttons-group">
        <div *ngFor="let group of groups" class="home-group">
            <a class="home-link" [routerLink]="['/tools', group.name]">
                <app-button-group title="{{group.title}}"></app-button-group>
            </a>
        </div>
    </div>
    
    <!-- Lista de ARTIGOS novos -->
    <div class="home-itens">
        <app-list-articles [showNew]="showNew" group="" tool=""></app-list-articles>
    </div>

</div>
