<div class="about-container">
    <div class="about-view-title">SOBRE</div>

    <div class="about-title-box">
        <div class="about-title-name">
            <span class="about-title-color-work">work.dev</span>
            <span class="about-title-color-br">.br</span>
        </div>
    </div>

    <div class="about-title-section">MOTIVAÇÃO</div>

    <div class="about-history">
        <p>Este site é fruto de um desejo de compartilhar conhecimento, e principalmente de ajudar novos desenvolvedores nos seus primeiros passos nessa área.</p>
        <p>Quanto eu digitei as minhas primeiras linhas de código, por volta de 1984, ainda não havia internet, e o conhecimento era adquirido através de algum curso ou de livros, embora ambos na época ainda eram escassos e de difícil acesso para um candidato a <i>developer</i> do interior do Estado de São Paulo.</p>
        <p>Minha primeira tentativa de desenvolver um aplicativo para contabilidade, foi utilizando um TK2000 que comprei na época, por sinal muito caro, mas como o que eu tinha para armazenar os dados (que atualmente utilizamos HD ou SSD) era um gravador de fitas cassete, acabei por desistir, porque esse sistema de armazenamento era muito falho.</p>
        <p>Por fim, no início dos anos 1990, devido a aquisição de um computador XT pela empresa onde eu trabalhava, é que eu realmente iniciei minha jornada de desenvolvedor, utilizando as ferramentas de desenvolvimento DBase e Clipper.</p>
        <p>Atualmente trabalho na área de desenvolvimento de software em um grande conglomerado brasileiro, que possui talvez o maior parque tecnológico da América Latina.</p>
    </div>

    <div class="about-observation">Obs.: Alguns dos termos que utilizei acima, como TK2000, XT, DBase, Clipper, são antigos, se você não conhece procure no nosso amigo Google.</div>

    <div class="about-title-section">FERRAMENTA</div>

    <div class="about-tool">
        <div class="about-title-description">Site desenvolvido com</div>
        <div>
            <img src="assets/services/angular-128px.png" width="128" height="128" class="about-tool-icon"> 
        </div>
        <div class="about-tool-name">Angular</div>
        <div class="about-tool-version">Versão utilizada: 10</div>
    </div>

    <div class="about-title-section">COLABORAÇÕES</div>
    
    <div class="about-collaborators">
        <div class="about-title-description">Icones utilizados no site</div>
    </div>

    <div class="about-icon-citation">
        <img src="assets/shared/star-20px.png" width="20" height="20"> 
        <div class="about-citation-label">Icone número 2530811 no site:</div>
        <div>
            <a href="https://www.iconfinder.com/icons/2530811/general_office_rising_star_shooting_star_star_starred_thin_icon" 
                target="_blank"
                class="about-citation-url">
                www.iconfinder.com
            </a>
        </div>
        <div class="about-citation-label">Site do autor:</div>
        <div>
            <a href="https://creativemarket.com/BomSymbols" 
                target="_blank"
                class="about-citation-url">
                creativemarket.com/BomSymbols
            </a>
        </div>
    </div>




</div>

<!-- 


    Ver icones dos Tools:
    Angular
    Javascript
    Coding (geral)
    
    
    
    Incluir o link do icone (app-star) estrela do nivel:
    Download do iconfinder:
    Website do autor:
    https://creativemarket.com/BomSymbols


-->