
.header-container {
    background-color: #45739d;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

@media screen and (max-width: 600px) {
    .header-container {
        justify-content: space-around;
    }
}

.header-left {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}

.header-center {
    padding-left: 20px;
    padding-right: 20px;
}

.header-hight {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}

.header-title {
    font-family: 'Goldman', cursive;
    font-size: 36px;
}

.header-space {
    padding: 10px;
}

.header-box-icons {
}

.header-link {
}

.header-color-br {
    color: #a8dadc;
}

.header-color-title {
    color: #ffffff;
}

.material-icons {
    font-size: 42px;
    color: #f1faee;
}