
.header-container {
    background-color: #45739d;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

@media screen and (max-width: 600px) {
    .header-container {
        justify-content: space-around;
    }
}

.header-left {
    padding-left: calc(8px + 1vw);
    padding-right: calc(8px + 1vw);
    display: flex;
    flex-direction: row;
}

.header-center {
    padding-left: calc(8px + 1vw);
    padding-right: calc(8px + 1vw);
}

.header-hight {
    padding-left: calc(8px + 1vw);
    padding-right: calc(8px + 1vw);
    display: flex;
    flex-direction: row;
}

.header-title {
    font-family: 'Goldman', cursive;
    font-size: calc(20px + 1.4vw);
}

.header-space {
    padding: calc(5px + 1vw);
}

.header-color-br {
    color: #a8dadc;
}

.header-color-title {
    color: #ffffff;
}

.material-icons {
    font-size: calc(22px + 1.6vw);
    color: #f1faee;
}