
.articles-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articles-container-buttons {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.articles-box-group {
    margin: 8px
}

.articles-box-tool {
    margin: 8px;
}    

.articles-item {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}
