
.show-new-container {
    background-color: #ea7317;
    color: #ffffff;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;
    font-family: 'Goldman', cursive;
    font-size: 12px;
}