
<div class="footer-container">
    <div class="footer-box-links">
        <div class="footer-link">
            <a class="footer-router" routerLink="/home" routerLinkActive="active">
                <span class="material-icons footer-link-icon">menu</span>
                <span class="footer-link-name">Home</span>    
            </a>
        </div>
        <div class="footer-links-divider"></div>
        <div class="footer-link">
            <a class="footer-router" routerLink="/contact" routerLinkActive="active">
                <span class="material-icons footer-link-icon">mail_outline</span>
                <span class="footer-link-name">Contato</span>    
            </a>
        </div>
        <div class="footer-links-divider"></div>
        <div class="footer-link">
            <a class="footer-router" routerLink="/help" routerLinkActive="active">
                <span class="material-icons footer-link-icon">help_outline</span>
                <span class="footer-link-name">Ajuda</span>    
            </a>
        </div>
        <div class="footer-links-divider"></div>
        <div class="footer-link">
            <a class="footer-router" routerLink="/about" routerLinkActive="active">
                <span class="material-icons footer-link-icon">info_outline</span>
                <span class="footer-link-name">Sobre</span>    
            </a>
        </div>




    </div>
    <div class="footer-title">
        <span class="footer-color-title">work.dev</span>
        <span class="footer-color-br">.br</span>
    </div>
    <div class="footer-powered">© Copyright 2020 powered by Nivaldo Hydalgo.</div>
</div>