
.footer-container {
    background-color: #f5f5f5;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #323232;
    border-top-style: solid;
    border-top-color: #e0e0e0;
    border-top-width: 1px;
}

.footer-title {
    margin-left: 16px;
}

.footer-box-icons {
    margin-right: 16px;
}

.footer-link {
    margin-left: 16px;
}