
.button-group-container {
    background-color: #e63946;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    /* Font --*/
    color: #ffffff;
    font-family: 'Goldman', cursive;
    font-size: 28px;
    letter-spacing: 1px;
    /*-- Border Shadow --*/
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.67);
}
