<div class="copy-code-container">
    <div class="copy-code-text" id="copy-code-text">
        <ng-content></ng-content>
    </div>
    <div class="copy-code-icon">
        <a (click)="CopyTextCode()" class="copy-code-link">
            <span class="material-icons">content_copy</span>
        </a>
    </div>
</div>  

<!-- 

    <app-copy-code>
        import {{cl}}{{cl}}React{{ch}}{{ch}} from './react'<br>
        <span style="color: #67cdfe">azul escuro</span><br>
        <span style="color: #e9c46a">amarelo</span><br>
        <span style="color: #90be6d">verde</span><br>
        <span style="color: #e07a5f">marrom</span><br>
        <span style="color: #ffffff">branco</span><br>
        &nbsp;&nbsp;public valor: string;<br>
        &nbsp;&nbsp;public valor: string; &nbsp;&nbsp;public valor: string; &nbsp;&nbsp;public valor: string; &nbsp;&nbsp;public valor: string; &nbsp;&nbsp;public valor: string; &nbsp;&nbsp;public valor: string;<br>
        {{ch}}
        &#35;&#35;&#35;   &#34;&#34;   &#123;&#125;

    </app-copy-code>

-->